.post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #daa520;
    background-color: #b0e0e6;
    margin: 15px auto;
    padding: 10px 20px;
    border-radius: 10px;
    gap: 10px;
}

.post__content {
    display: flex;
    overflow: hidden;
}

.post__text__wrapper {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
